{
    "openapi": "3.0.1",
    "info": {
        "title": "SMS-VERIFY.ME Api",
        "description": "",
        "license": {
            "name": "MIT"
        },
        "version": "1.0.0",
        "contact": {
            "url": "https://sms-verify.me/"
        }
    },
    "servers": [
        {
            "url": "https://api.sms-verify.me"
        }
    ],
    "security": [
        {
            "bearerAuth": []
        },
        {
            "apikey": []
        }
    ],
    "paths": {
        "/user/balance": {
            "get": {
                "summary": "",
                "description": "Retrieves the current balance of the authenticated user",
                "parameters": [],
                "operationId": "",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/User"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "User": {
                "type": "object",
                "properties": {
                    "id": {
                        "description": "A string representing the unique identifier of the user",
                        "type": "string"
                    },
                    "balance": {
                        "description": "A numeric value representing the current balance of the user in USD",
                        "type": "int"
                    }
                }
            },
            "Error": {
                "required": [
                    "error",
                    "message"
                ],
                "type": "object",
                "properties": {
                    "error": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "message": {
                        "type": "string"
                    }
                }
            }
        },
        "securitySchemes": {
            "apikey": {
                "type": "http",
                "scheme": "bearer"
            }
        },
        "links": {},
        "callbacks": {}
    },
    "externalDocs": {
        "url": "https://docs.sms-verify.me/"
    }
}